### Copyrights (C) 2007-2008 Intel Corporation.
### Configuration file for Intel(R) User Notification Service (UNS)
### Version 4.0.0
###
### This File need to be place in the following folder in-order to use it:
###   Windows XP - C:\Documents and Settings\All Users\Application Data\
###   Windows Vista – C:\ProgramData\

### Remove the # To enable the fields

### Check AMT Status Timeout in Milisecond
#CheckAMTStatusTimeout = 10000

### Check TPM Status Timeout in Milisecond
#CheckTPMStatusTimeout = 10000

### GetPosture Polling Interval  in Milisecond
#GetPostureInterval = 300000

#NumPollsForDisabled = 0
#Trace = False

### Windows Event log notification configuration
NETWORK_TRAFFIC_TX_CEASED = 1
NETWORK_CONNECTIVITY_TX_REDUCED = 1
NETWORK_TRAFFIC_RX_CEASED = 1
NETWORK_CONNECTIVITY_RX_REDUCED = 1

WLAN_WIRELESS_PROFILE_STATE_CHANGED = 1
WLAN_PROFILE_INSUFFICIENT = 1
WLAN_SECURITY_INSUFFICIENT = 0
WLAN_SESSION_ESTABLISHED = 0
WLAN_SESSION_ENDED = 0
REMOTE_SOL_STARTED = 0
REMOTE_SOL_ENDED = 1
REMOTE_IDER_STARTED = 1
REMOTE_IDER_ENDED = 1
RCS_AUTOMATIC_CONNECTION = 1
RCS_CONNECTION_FAILED = 1
RCS_NON_AUTOMATIC_CONNECTION = 1
RCS_CONTRACTS_UPDATED = 1